<?xml version="1.0"?>
<!-- Scara manipulator -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pdor_platform">

    <!-- Import scara urdf file -->
    <xacro:include filename="$(find pdor_description)/urdf/platform.urdf" />

    <!-- Import scara materials file -->
    <xacro:include filename="$(find pdor_description)/config/materials.urdf" />

    <!-- Import scara ros2_control description -->
    <xacro:include filename="$(find pdor_description)/urdf/ros2_control/platform.ros2_control.urdf" />


</robot>