<?xml version="1.0"?>
<!-- Scara manipulator -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pdor_platform">

    <!-- Import scara urdf file -->
    <xacro:include filename="$(find pdor_description)/urdf/platform.urdf" />
    <xacro:pdor_base prefix=""/>

    <!-- Import scara ros2_control description -->
    <!-- <xacro:include filename="$(find pdor_description)/urdf/platform.ros2_control.xacro" /> -->


</robot>