<?xml version="1.0"?>
<robot name = "platform" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="platform_ros2_control" params="prefix">
        <ros2_control name="platform" type="system">
            <hardware>
                <plugin>ethercat_driver/EthercatDriver</plugin>
                <param name="master_id">0</param>
                <param name="control_frequency">100</param>
            </hardware>
            <joint name="${prefix}wheel_front_left_joint">
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
                <command_interface name="velocity"/>
                <command_interface name="reset_fault"/>
                <ec_module name="ELMO">
                    <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
                    <param name="alias">0</param>
                    <param name="position">0</param>
                    <param name="mode_of_operation">9</param>
                    <param name="slave_config">$(find grond_description)/config/elmo_sx.yaml</param>
                </ec_module>
            </joint>
            <joint name="${prefix}wheel_front_right_joint">
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
                <command_interface name="velocity"/>
                <command_interface name="reset_fault"/>
                <ec_module name="ELMO">
                    <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
                    <param name="alias">0</param>
                    <param name="position">1</param>
                    <param name="mode_of_operation">9</param>
                    <param name="slave_config">$(find grond_description)/config/elmo_dx.yaml</param>
                </ec_module>
            </joint>

            <joint name="${prefix}wheel_rear_right_joint">
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
                <command_interface name="velocity"/>
                <command_interface name="reset_fault"/>
                <ec_module name="ELMO">
                    <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
                    <param name="alias">0</param>
                    <param name="position">2</param>
                    <param name="mode_of_operation">9</param>
                    <param name="slave_config">$(find grond_description)/config/elmo_dx.yaml</param>
                </ec_module>
            </joint>
            
            <joint name="${prefix}wheel_rear_left_joint">
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
                <command_interface name="velocity"/>
                <command_interface name="reset_fault"/>
                <ec_module name="ELMO">
                    <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
                    <param name="alias">0</param>
                    <param name="position">3</param>
                    <param name="mode_of_operation">9</param>
                    <param name="slave_config">$(find grond_description)/config/elmo_encoder_2000.yaml</param>
                </ec_module>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>

<!--
        <hardware>
            <plugin>mock_components/GenericSystem</plugin>
        </hardware>

        <joint name="joint1">
            <command_interface name="position" />
            <state_interface name="position">
                <param name="initial_value">0.0</param>
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </state_interface>
            <state_interface name="velocity"> 
                <param name="initial_value">0.0</param> 
            </state_interface>
        </joint>
        <joint name="joint2">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0.5.</param>
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </state_interface>
            <state_interface name="velocity"> 
                <param name="initial_value">0.0</param> 
            </state_interface>
        </joint>
        <joint name="joint3">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
                <param name="min">0</param>
                <param name="max">0.3</param>
            </state_interface>
            <state_interface name="velocity"> 
                <param name="initial_value">0.0</param> 
            </state_interface>
        </joint>
    </ros2_control>-->
