<?xml version = "1.0"?>
<robot name = "lampo_imm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="name" default="lampo"/>
  <xacro:arg name="generate_ros2_control_tag" default="true"/>
  <xacro:arg name="sim_gz" default="false"/>
  <xacro:arg name="use_fake_ur" default="false"/>
  <xacro:arg name="use_fake_base" default="false"/>
  <xacro:include filename="$(find grond_description)/urdf/system.xacro"/>
  <xacro:lampo_imm prefix="$(arg name)/" generate_ros2_control_tag="$(arg generate_ros2_control_tag)" sim_gz="$(arg sim_gz)" use_fake_ur="$(arg use_fake_ur)" use_fake_base="$(arg use_fake_base)"/>

</robot>
